.content {
  justify-content: center;
  align-items: center;
}
.content p {
  margin-left: 25%;
  font-size: 36px;
  font-weight: 900;
  color: #150941
}

.logos {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.logo-link {
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.logo-link-pix {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
