<div class="container">
  <mat-toolbar>
    <button class="button_logo">
      <img class="mini-logo" src="../../../assets/logo_mini.png" alt="capelania logo">
    </button>
    <span>Capelania Salto/SP</span>
    <span class="spacer"></span>
    <button mat-button routerLink="historia" >
      <span>Nossa História</span>
    </button>
    <button mat-button routerLink="missoes">
      <span>Missões</span>
    </button>
    <button mat-button routerLink="eventos">
      <span>Eventos</span>
    </button>
    <button mat-button  routerLink="contatos">
      <span>Contatos</span>
    </button>
    <button mat-button >
      <span>Curso</span>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
